.tableUser{
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: #D9D9D9;
}

.tableHeader{
  background-color: #9A817C;
  
}

.tableHeader th{
  padding: 10px 10px;
}

.tableBody{
  text-align: center;
}

.tableBody td{
  padding: 18px 20px;
}